<table>
	<thead>
		<tr>
			<th>Exercise</th>
			<th>Time/Rep</th>
			<th>Distance/Weight</th>
		</tr>
	</thead>
	<tbody>
		{{#each this.exercises}}
		<tr>
			<td>{{title}}</td>

			{{#if time}}
				<td>{{time}} min</td>
			{{/if}}

			{{#if distance}}
				<td>{{distance}} km</td>
			{{/if}}

			{{#if rep}}
				<td>{{rep}} x</td>
			{{/if}}

			{{#if weight}}
				<td>{{weight}} kg</td>
			{{/if}}
		</tr>
		{{/each}}
	</tbody>
</table>