<body class="flex-column-center">

<br>
<h1>History</h1>

<br>
<p>All your Exercises:</p>
<details class="container">
	<summary class="flex-row-between">
		<h3>Show</h3>
	</summary>
		<div class="details flex-column">
			{{> exerciseTable summarizedExercises}}
		</div>
</details>
<div class="container">
	<canvas id="exercises-chart"></canvas>
	<script src="/js/exercise-chart.js"></script>
</div>

<br>
<p>All your Workouts:</p>
<ul class="workouts-ul">
	{{#each pastWorkouts}}
		<details class="container">
			<summary class="flex-column">
				<h3>{{title}}</h3>
				<div class="flex-row-between secondary-text">
					<p><img src="../images/icons/clock-icon.png" class="img-icon"> {{duration}}</p>
					<p>{{formatDate date}}</p>
				</div>
			</summary>
				<div class="details flex-column">
					<p><i>{{description}}</i></p>
					{{> exerciseTable this}}
				</div>
				<div>
					<button class="logout" onclick="document.getElementById('{{_id}}').style.display = 'flex'">🗑️ Delete Workout</button>
					<div id="{{_id}}" class="delete-confirmation">
						<div>
							<h2><strong>{{title}}</strong></h2>

							<br>
							<h4>Do you really want to delete this Workout?</h4>
						</div>
						
						<br>
						<form id="{{_id}}" action="/delete" method="POST">
							<label for="id" hidden>{{_id}}</label>
							<input name="id" value="{{_id}}" hidden>
							<button class="main-button">YES</button>
							<a class="standard-button delete-confirmation-button" onclick="document.getElementById('{{_id}}').style.display='none'">NO</a>
						</form>
					</div>
				</div>
		</details>
	{{/each}}
</ul>
<br>
<br>
<br>

{{> navbar}}