<body class="flex-column-center">
<script>
  function startNewTimer(){
    localStorage.clear('timeInSeconds')
  }
</script>
{{> navbar}}
<header class="flex-column-start">
  <p class="secondary-text center-text">HOME</p>
	<h1>Hey, {{username}}</h1>
  <div class="container flex-row-evenly-center home-details">
    <p class="secondary-text center-text"><span class="big-text main-text">{{totalWorkouts}}</span> Total <br> Workouts</p>
	  <p class="secondary-text center-text"><span class="big-text main-text">{{summarizedExercises.totalExercises}}</span> Total <br> Exercises</p>
	  <p class="secondary-text center-text"><span class="big-text main-text">{{activeDays}}</span> Active <br> Days</p>
  </div>
</header>

<div class="flex-column-start">
  <p>Are you ready for a new workout?</p>
	<a href='/tracker' class="main-button" onclick="startNewTimer()"> Start New Workout </a>
</div>
<p>Most Recent Workout:</p>
<ul class="workouts-ul add-space-after">
		<details class="container">
			<summary class="flex-column">
				<h3>{{mostRecentWorkout.title}}</h3>
				<div class="flex-row-between secondary-text">
					<p><img src="../images/icons/clock-icon.png" class="img-icon"> {{mostRecentWorkout.duration}}</p>
					<p>{{formatDate mostRecentWorkout.date}}</p>
				</div>
			</summary>
				<div class="details flex-column">
					<p><i>{{mostRecentWorkout.description}}</i></p>
					{{> exerciseTable mostRecentWorkout}}
				</div>
		</details>
</ul>