<body class="flex-column-center">

<h1>Welcome {{user.username}}</h1>
<p class="secondary-text">Start workout from template</p>
<a href='/tracker' class="main-button"> Track Workout </a>

<ul class="workouts-ul">
	{{#each pastWorkouts}}
		<details class="container">
			<summary>
			<div class="image-container">
				{{!-- <img src="/images/man-biceps-curl.jpg" alt=""> --}}
			</div>
			<div class="text-container">
				<h3>{{title}}</h3>
				<p>{{description}}</p>
				<p>{{duration}} minutes</p>
				<p>{{date}} minutes</p>
			</div>
			</summary>
				<table>
					<caption>Exercises</caption>
					<thead>
						<tr>
							<th>Exercise</th>
							<th>Type</th>
							<th>Time</th>
							<th>Rep</th>
							<th>Weight</th>
							<th>Distance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{{#each exercises}}
								<td>{{title}}</td>
								<td>{{type}}</td>
								<td>{{time}}</td>
								<td>{{rep}}</td>
								<td>{{repWeight}}</td>
								<td>{{distance}}</td>
							{{/each}}
						</tr>
					</tbody>
				</table>
		</details>
	{{/each}}
</ul>