<body class="flex-column-center">

<h1>Welcome {{username}}</h1>
<p class="secondary-text">Start tracking your workout!</p>
<a href='/tracker' class="main-button"> Track Workout </a>

<hr>

<h2>Statistics</h2>
<p>Workouts in total: {{totalWorkouts}}</p>
<p>Active Days: {{activeDays}}</p>

<ul class="workouts-ul">
	{{#each pastWorkouts}}
		<details class="container">
			<summary>
			<div class="image-container">
				{{!-- <img src="/images/man-biceps-curl.jpg" alt=""> --}}
			</div>
			<div class="text-container">
				<h3>{{title}}</h3>
				<p>{{formatDate date}}</p>
			</div>
			</summary>
				<p><i>{{description}}</i></p>
				{{> exerciseTable this}}
				<p>Duration: {{duration}} minutes</p>
		</details>
	{{/each}}
</ul>

<hr>

<a href="/logout" class="standard-button">Logout</a>