<body class="flex-column-center">
<script type="text/javascript" src="/js/delete-confirmation.js" defer></script>

<h1>Welcome {{username}}</h1>
<p class="secondary-text">Start tracking your workout!</p>
<a href='/tracker' class="main-button" onclick="startNewTimer()"> Track Workout </a>
<script>
  function startNewTimer(){
    localStorage.clear('timeInSeconds')
  }
</script>
<hr>

<h2>Statistics</h2>
<p>Total Workouts: <strong>{{totalWorkouts}}</strong></p>
<p>Active Days: <strong>{{activeDays}}</strong></p>

<ul class="workouts-ul">
	{{#each pastWorkouts}}
		<details class="container">
			<summary class="flex-row-between">
				<h3>{{title}}</h3>
				<p>{{formatDate date}}</p>
			</summary>
				<div class="details flex-column">
					<p><i>{{description}}</i></p>
					{{> exerciseTable this}}
					<h4>Summary</h4>
					<ul class="summary">
						<li>Total Exercises: <strong>{{totalExercises}}</strong></li>
						<li>Total Duration: <strong>{{duration}}</strong></li>
					</ul>
				</div>
				<div>
					<button class="logout" onclick="document.querySelector('.delete-confirmation').style.display='flex'">Delete this Workout 🗑️ {{_id}}</button>
					<div class="delete-confirmation">
						<div>
							<h2>Do you really want to delete this Workout?</h2>
						</div>
						<form action="/delete" method="POST">
							<input name="id" value="{{_id}}" hidden>
							<button class="main-button" type="submit">YES</button>
							<a class="standard-button" onclick="document.querySelector('.delete-confirmation').style.display='none'">NO</a>
						</form>
					</div>
				</div>
		</details>
	{{/each}}
</ul>

<hr>

<a href="/auth/logout" class="logout">Logout</a>