<body class="flex-column-center">
<h1>Profile</h1>
<p>username: <span class="main-text">{{user.username}}</span></p>
<p>email: <span class="main-text">{{user.email}}</span></p>
<hr>
<h2>Body Data</h2>
<form class="flex-column-start" action="/bmi" method="POST">
  <p>weight: <input class="standard-input small" type="number" name="weight" value="{{user.weight}}" placeholder="kg"></p=>
  <p>height: <input class="standard-input small" type="number" name="height" value="{{user.height}}" placeholder="cm"></p>
  <p>BMI: <span class="main-text">{{bmi}}</span></p>
  <button class="main-button" type="submit">Calculate BMI</button>
</form>
<hr>
<a href="/auth/logout" class="logout add-space-before">Logout</a>

{{> navbar}}