<body class="flex-column-center">
<script>
  function toggleBmiForm(){
    form = document.getElementById('bmi-form')
    form.classList.toggle('hide')
  }
</script>

<br>
<h1>{{user.username}}</h1>
<div class="flex-row-between">
  <p><span class="main-text">{{user.email}}</span></p>
  <a href="/auth/logout" class="logout add-space-before">Logout</a>
</div>

<br>
<div class="container flex-row-evenly-center home-details">
  <p class="center-text"> <span> <span class="big-text">{{user.weight}}</span>kg</span>weight</p>
  <p class="center-text"> <span> <span class="big-text">{{user.height}}</span>cm</span>height</p>
</div>
<div class="container flex-row-center">
  <p class="medium-text">BMI: {{#if bmi}} <span class="main-text">{{bmi}}</span> {{/if}}</p>
</div>

<br>
<button class="main-button" onclick="toggleBmiForm()">Add or edit your body data</button>
<form id="bmi-form" class="hide" action="/bmi" method="POST">
  <input class="standard-input" type="number" name="weight" placeholder="kg"></p>
  <input class="standard-input" type="number" name="height" placeholder="cm"></p>
  <button class="main-button" type="submit">Save Changes</button>
</form>
<br>
<br>
<br>

{{> navbar}}