<body class="flex-column-center">
<nav>
  <a class="flex-column-center" href="/home">
    <img src="../images/icons/home-icon.png">
    Home
  </a>
  <a class="flex-column-center" href="/history">
    <img src="../images/icons/statistics-icon.png">
    History
  </a>
  <a class="flex-column-center" href="/profile">
    <img src="../images/icons/profile-icon.png">
    Profile
  </a>
</nav>
<h1>Profile</h1>
<p>username: <span class="main-text">{{user.username}}</span></p>
<p>email: <span class="main-text">{{user.email}}</span></p>
<hr>
<h2>Body Data</h2>
<form class="flex-column-start" action="/bmi" method="POST">
  <p>weight: <input class="standard-input small" type="number" name="weight" value="{{user.weight}}" placeholder="kg"></p=>
  <p>height: <input class="standard-input small" type="number" name="height" value="{{user.height}}" placeholder="cm"></p>
  <p>BMI: <span class="main-text">{{bmi}}</span></p>
  <button class="main-button" type="submit">Calculate BMI</button>
</form>
<hr>