<body class="flex-column-center">

<h1>tracker</h1>

{{#each workoutFromDb}}
    <div class="text-container">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.duration}}</p>

	  <div>
		{{#each this.exercises}}
			<h3>{{this.title}}</h3>
      		<p>{{this.description}}</p>
      		<p>{{this.type}}</p>
          <form action="">
            {{#ifeq this.type "time"}}
              <input type="number" placeholder="minutes">
            {{/ifeq}}
            {{#ifeq this.type "rep"}}
              <input type="number" placeholder="reps">
            {{/ifeq}}
            {{#ifeq this.type "weight"}}
              <input type="number" placeholder="reps">
              <input type="number" placeholder="kg">
            {{/ifeq}}
            <button type="submit">Complete</button>
          </form>

		{{/each}}
	  </div>
    </div>
  </a>
{{/each}}
